@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	font-size: 62.5%;
	--color_aside: #ffffff;
	--color_main: #f2f2f2;
	--color_font: #48484a;
	--img_filter: invert(1);
	--color_no-active: #ACACAC;
}

:root[data-theme='dark'] {
	--color_aside: #212331;
	--color_main: #100E1C;
	--color_font: #E6E6E6;
	--img_filter: none;
	--color_no-active: #6D6D6D;
}

body {
	background: #f1f1f1;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	color: var(--color_font);
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.app {
	display: grid;
	grid-template-areas:
		"now"
		"main";
	grid-template-rows: 66.7rem 1fr;
}

.now {
	grid-area: now;
	position: relative;
	background: #ffffff;
	padding: 3rem 3rem 3.8rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.8rem;
	line-height: 2.1rem;
	z-index: 1;
}

.now__search-button {
	align-self: flex-start;
	font-weight: bold;
	background: var(--color_aside);
	border: 2px solid #acacac;
	border-radius: 10px;
	padding: 1.5rem 2.7rem;
	outline: none;
	cursor: pointer;
	color: var(--color_font);
}

.now__theme {
	position: absolute;
	top: 40px;
}

.now__icon {
	margin: auto 0 -2.3rem;
	height: 20rem;
	width: 20rem;
}

.now__description {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.now__temperature {
	font-weight: 900;
	font-size: 9.6rem;
	line-height: 11.4rem;
}

.now__temperature-unit {
	font-weight: 500;
	font-size: 5rem;
}

.now__fallout {
	font-weight: bold;
	font-size: 3.6rem;
	line-height: 3.6rem;
}

.now__feeling {
	color: #acacac;
	margin: 1.7rem 0 0;
}

.now__time {
	display: flex;
	color: #acacac;
	margin: 7.8rem 0 0;
}

.now__time-day {
	margin: 0 8.8rem 0 0;
}

.now__point {
	display: flex;
	align-items: center;
	color: #acacac;
	margin: 2.8rem 0 0;
	justify-content: center;
}

.now__point-title {
	margin: 0 0 0 1.5rem;
}

.now__background {
	position: absolute;
	top: 6.7rem;
	right: 0;
	margin: 0;
	z-index: -1;
	width: 100%;
}

.now__background img {
	width: 100%;
	display: block;
	filter: var(--img_filter);
}

.main {
	grid-area: main;
	background-color: var(--color_main);
}

.container {
	max-width: 98rem;
	width: 100%;
	margin: 0 auto;
	padding: 5rem 3rem;
}

.metcast {
	padding-bottom: 3rem;
}

.metcast__tabs {
	display: grid;
	grid-template-areas:
		"title title"
		"control control"
		"content content";
	grid-gap: 3rem;
}

.metcast__tabs-title {
	grid-area: title;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 100%;
	text-align: center;
}

.metcast__tabs-control {
	grid-area: control;
	font-weight: bold;
	font-size: 2rem;
	line-height: 100%;
	color: #acacac;
	display: flex;
	justify-content: center;
}

.metcast__tabs-control .metcast__tabs-btn:first-child {
	margin-right: 5.5rem;
}

.metcast__tabs-btn {
	cursor: pointer;
	color: var(--color_no-active);
}

.metcast__tabs-btn.is-active {
	position: relative;
	color: var(--color_font);
	padding-bottom: 0.5rem;
}

.metcast__tabs-btn.is-active::before {
	content: '';
	width: 109px;
	height: 3px;
	background-color: var(--color_font);
	position: absolute;
	bottom: -4px;
}

.metcast__tabs-wrapper {
	grid-area: content;
}

.metcast__tabs-content {
	display: none;
}

.metcast__tabs-content.is-active {
	display: block;
}

.slider {
	position: relative;
}

.slider__grid {
	display: grid;
	grid-gap: 3rem;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.slider__item {
	position: relative;
	width: 10rem;
	height: 14.3rem;
	background: #ffffff;
	box-shadow: 0px 0.7rem 1.2rem rgb(0 0 0 / 5%);
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem 1.4rem;
	font-size: 1.4rem;
	line-height: 1.7rem;
	text-align: center;
	margin: 0 auto;
}

.slider__item-image {
	position: absolute;
	margin: 0;
	width: 10rem;
	height: 10.4rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider__item-temperature {
	display: flex;
	justify-content: center;
}

.slider__item-temperature-feeling {
	margin-left: auto;
	color: #d3d3d3;
}

.slider__control {
	display: none;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 3.8rem;
	height: 3.8rem;
	background: #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider__control svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider__control_disabled {
	opacity: 0.3;
	cursor: auto;
}

.slider__control_prev {
	left: -5.1rem;
	transform: translate(0, -50%) rotate(180deg);
}

.slider__control_next {
	right: -5.1rem;
}

.detail {
	padding-top: 3rem;
}

.detail__title {
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 100%;
	text-align: center;
	margin-bottom: 3rem;
}

.detail__grid {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
	gap: 17px 5.5rem;
}

.detail__item {
	background: #ffffff;
	box-shadow: 0px 8px 15px rgb(0 0 0 / 5%);
	border-radius: 10px;
	padding: 2rem;
	font-size: 1.8rem;
	line-height: 2.1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detail__item-title {
	margin-bottom: 1rem;
}

.detail__item-value {
	font-weight: 900;
	font-size: 6.4rem;
	line-height: 7.6rem;
	margin: auto 0;
}

.detail__item-value small {
	font-weight: 500;
	font-size: 3.6rem;
	line-height: 4.266rem;
}

.detail__item_pressure .detail__item-value small {
	font-size: 1.8rem;
	line-height: 2.133rem;
}

.detail__item-wind-direction {
	display: flex;
	align-items: center;
}

.detail__item-wind-direction span {
	margin-left: 1rem;
}

.search {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 66.7rem;
	background: #fff;
	z-index: 10;
	padding: 10rem 3rem 4rem;
	font-size: 1.8rem;
	line-height: 2.1rem;
	transform: translate(0, -100%);
	transition: 0.5s;
}

.search_opened {
	transform: translate(0, 0);
}

.search__close {
	position: absolute;
	width: 2.6rem;
	height: 2.6rem;
	top: 4rem;
	right: 4rem;
	cursor: pointer;
}

.search__close svg {
	width: 100%;
	height: 100%;
}

.search__close svg path {
	fill: var(--color_font);
}

.search__grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-areas:
		"input"
		"button";
}

.search__input {
	grid-area: input;
	position: relative;
	border: 2px solid #acacac;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 500;
	color: var(--color_font);
	padding: 1.5rem 1.5rem 1.5rem 4.4rem;
	outline: none;
	background: url("../img/search.svg") 15px 50% no-repeat;
}

.search__input::placeholder {
	color: var(--color_font);
}

.search__button {
	grid-area: button;
	font-weight: bold;
	background: var(--color_aside);
	border: 2px solid #acacac;
	border-radius: 10px;
	padding: 1.5rem 2rem;
	outline: none;
	cursor: pointer;
	justify-self: center;
	color: var(--color_font);
}

.button-cover {
	height: 100px;
	margin: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 10px 20px -8px #212331;
	box-shadow: 0 10px 20px -8px #212331;
	border-radius: 4px
}

.button-cover:before {
	counter-increment: button-counter;
	content: counter(button-counter);
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 12px;
	line-height: 1;
	padding: 5px
}

.button-cover,
.knobs,
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.button {
	position: relative;
	top: 100%;
	width: 64px;
	height: 32px;
	margin: -20px auto 0 auto;
	overflow: hidden;
	border: 1px solid #BCBCBC;
	background-color: #fff;
	border: 2px solid #acacac;
}

.button.r,
.button.r .layer {
	border-radius: 100px;
}

.button.dark {
	margin: 3px 0 0 25px;
}

.button.b2 {
	border-radius: 2px;
}

.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	z-index: 2;
}

.layer {
	width: 100%;
	background-color: #ffffff;
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
	z-index: 1;
}

.knobs:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 5px;
	width: 20px;
	height: 20px;
	color: #212331;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 8px 4px;
	background: url(../img/light.svg) center center no-repeat;
	background-color: var(--color_font);
	border-radius: 50%;
	-webkit-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
	transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked+.knobs:before {
	content: '';
	left: 35px;
	background: url(../img/dark.svg) center 40% no-repeat;
	background-color: #EC6E4D;
}

#button-1 .checkbox:checked~.layer {
	background-color: var(--color_aside);
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
}

.now,
.now__background,
.slider__item,
.detail__item,
.slider__control,
#search {
	background-color: var(--color_aside);
}


@media all and (min-width: 600px) {
	.now__background {
		top: 2.7rem;
	}
}

@media all and (min-width: 800px) {
	.app {
		grid-template-areas: "now main";
		grid-template-columns: 32.9rem 1fr;
		grid-template-rows: minmax(100vh, 1fr);
		align-items: stretch;
	}

	.container,
	.slider {
		width: calc(12.4rem * 3 - 2.4rem);
	}

	.container {
		padding: 5rem 0;
	}

	.now {
		justify-content: space-between;
	}

	.now__theme {
		right: 25px;
	}

	.now__icon {
		margin: 0;
	}

	.now__background {
		top: 39rem;
	}

	.slider {
		margin: 0 auto;
	}

	.slider__wrapper {
		overflow: hidden;
	}

	.slider__grid {
		display: grid;
		grid-gap: 2.4rem;
		grid-template-columns: repeat(auto-fit, 100px);
		grid-auto-flow: column;
	}

	.slider__control {
		display: block;
	}

	.metcast__tabs {
		grid-template-areas:
			"title control"
			"content content";
		grid-gap: 2.5rem;
		justify-items: left;
		grid-template-columns: max-content;
	}

	.metcast__tabs-control .metcast__tabs-btn:first-child {
		margin-right: 1.6rem;
		white-space: nowrap;
	}

	.search {
		width: 32.9rem;
		height: 100%;
		right: auto;
		transform: translate(-100%, 0);
	}

	.search_opened {
		transform: translate(0, 0);
	}
}

@media (max-width: 375px) {
	.now__theme {
		right: 45px;
	}
}

@media all and (min-width: 800px) and (min-height: 700px) {
	.now {
		position: fixed;
		height: 100%;
		width: 32.9rem;
	}

	.now__background {
		top: calc(50% - 30rem);
	}

	.now__icon {
		margin: auto 0;
	}
}

@media all and (min-width: 1000px) {

	.container,
	.slider {
		width: calc(12.4rem * 4 - 2.4rem);
	}
}

@media all and (min-width: 1200px) {
	.app {
		grid-template-areas: "now main";
		grid-template-columns: 46rem 1fr;
	}

	.now {
		position: relative;
		height: auto;
		width: auto;
	}

	.now__icon {
		margin: 2.5rem 0 0;
	}

	.now__background {
		top: 11rem;
	}

	.container,
	.slider {
		width: calc(12.4rem * 5 - 2.4rem);
	}

	.detail__title {
		text-align: left;
	}

	.search {
		width: 46rem;
	}

	.search__grid {
		grid-template-areas: "input button";
	}
}

@media all and (min-width: 1400px) {

	.container,
	.slider {
		width: calc(12.4rem * 6 - 2.4rem);
	}

	.slider__control_prev {
		left: -6.6rem;
	}

	.slider__control_next {
		right: -6.6rem;
	}
}